
@{
    ViewBag.Title = "Database";
}

<h2>Changes go here</h2>

<div class="row">
    <div class="col-md-3">
        
        <h2>@Html.ActionLink("DO MOVIES?", "Index", "Movies")</h2>
        @Html.ActionLink("Movie Database", "Index", "Movies", null, new { @class = "btn btn-success btn-block" })
    </div>

    <div class="col-md-3">
        
        <h2>@Html.ActionLink("Go to Genre", "Index", "Genre")</h2>
    </div>

    <div class="col-md-3">
        
        <h2>@Html.ActionLink("Add Customer", "Index", "Customer")</h2>
    </div>

    <div class="col-md-3">
        <h2>Add a New Genre</h2>
        <p>@Html.ActionLink("Rental Log", "Index", "Genre")</p>
    </div>
</div>
