@model IEnumerable<Blockbuster.Models.Movies>

@{
    ViewBag.Title = "List of Movies";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YearReleased)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Director)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GenreId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genre.Name)
        </th>
        <th>
           
            <h3>Check out Status</h3>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YearReleased)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Director)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GenreId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genre.Name)
        </td>
        <td>
            @if (item.IsCheckedOut.GetValueOrDefault())
            {
                <h4>Checked out</h4>
            }
            else
            {
                <h4>Checked in</h4>
            }
            @*@Html.DisplayFor(modelItem => item.IsCheckedOut)*@
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @if (item.IsCheckedOut == false)
            {
                @Html.ActionLink("Check Out", "CheckOut", new { id = item.Id }) 
            } |
            @if (item.IsCheckedOut == true)
            {
                @Html.ActionLink("Check In", "CheckIn", new { id = item.Id })
            } |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })

        </td>
    </tr>
}

</table>
